

.App {
  text-align: center;
  background-color: #272A2F;
  height: 1000px;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #8F6B0F;
  padding-left: 20px;
  margin-bottom: -50px;
  font-size: 48px;
  letter-spacing: 3.5px;
  font-family: 'Fontdiner Swanky';
  text-shadow: 2px 2px black;
}



